<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="cameralib.CameraSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/camlib_settings">

        </activity>
    </application>
</manifest>
